.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;

}
.header h2{
    text-align: center;
}

input[type=submit]
{
	background-color: rgb(144, 217, 226);
	color: white;
}

fieldset{
    padding-top: 10%;
}