.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-content: center;

}


.header{
    text-decoration: underline;
    text-decoration: blue;
}


fieldset{
    padding-top: 10%;
}

@media screen and (max-width: 770px) and (min-width: 420px)
{
    .main{
        width: 70%;

    }
    .domaine{
        width: 70%;
    }
        
    
}
/*Smartphone*/

@media screen and (max-width: 420px)
{
    .mail{
        width: 80%;
    }
    .domaine{
        width: 80%;
    }
}
