.row-profil{
    width:80%;
    min-height: 500px;
    margin:auto;
    background: #E8EBF5;
    border-radius: 50px 0 50px 0;
}

.container-profil{
    margin-top: 550px;
}

h3{
    text-align: center;
}