/*Éléments principaux*/
.row-profil{
    width:80%;
    min-height: 500px;
    margin:auto;
    background: #E8EBF5;
    border-radius: 50px 0 50px 0;
    padding: 15px;
}

.container-profil{
    margin-top: 550px;
}

h3{
    text-align: center;
}
/*Fin éléments principaux*/
/*- - - - - -*/
/*Tableau des favoris*/
#customers{
    width: 80%;
    margin: auto;
}

#customers td, #customers th{
    padding: 8px;
}

#customers tr:nth-child(even){
    background-color: white;
}

#customers tr:nth-child(odd){
    background-color: #fafafa;
}

#customers tr:hover{
    background-color: #eaeaea;
}

#customers th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3eb2e4;
    color: white;
}